.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #454546;
  position: sticky;
  top: 0;
  z-index: 998;
}

.top__container {

    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 120rem;
  }

  @media (max-width: 79.125rem) {
    .top__container {
      width: 100%;
      padding: 0 2rem;
    }
  }
  
  .top__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  
  .top__text {
    font-weight: normal;
  }
  
  .top__text h3 {
    font-size: 1.4rem;
    margin-bottom: -2.8px;
  }
  
  .top__text p {
    font-size: 1.2rem;
    color: #bebebe;
    min-width: 18rem !important;
  }
  
  .top img {
    height: 3.2rem;
    width: auto;
  }

  @media (max-width: 580px) {
    .top__figure--confidence {
      display: none;
    }
  }

  @media (max-width: 860px) {
    .top__figure--ecologi {
      display: none;
    }
  }


