/* PRODUCT */
.product {
  background-color: #454546;
  max-width: 60rem;
}

/* PRODUCT: CONTENT */
.product__content {
  background-color: #161618;
}

/* PRODUCT: IMAGE */
.product__img {
  width: 100%;
  height: auto;
}

/* PRODUCT: DISPLAY */
.product__display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.6rem;
  height: 4rem;
}

/* PRODUCT: COST */
.product__cost {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
}

.product__discount {
  color: #ffffff;
  background-color: #da1106;
  padding: 0.4rem 0.6rem;
  font-weight: bold;
}

.product__price {
  display: flex;
  flex-direction: column;
}

.product__price--base {
  text-decoration: line-through;
  color: #a2a2a3;
  font-weight: bold;
  margin-bottom: -4px;
}

.product__price--final {
  color: #a153f9;
  font-weight: bold;
}

/* PRODUCT: PLATFORM */
.product__platform {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: auto;
}

.product__platform--img {
  width: auto;
  height: 2.3rem;
}

/* PRODUCT: BUTTON */
.product__button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 0;
  transition: 0.4s;
}
