/* RESET */
* {
  box-sizing: border-box;
}

html,
body,
div,
section,
figure,
p,
a,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* GENERAL */
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  overflow-y: scroll;
  background-color: #2d2d2f;
  color: #ffffff;
}

a {
  text-decoration: none;
}

button,
i {
  cursor: pointer;
}

/* BODY LAYOUT */
.body__layout {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* BACK TO HOME BUTTON */
.back {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: #a153f9 !important;
  font-weight: bold;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.back i {
  font-size: 1.2rem;
}

.back p {
  padding-top: 0.2rem;
}
