/* ITEMCOUNT */
.card__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #454546;
    padding: 1rem 0;
  }
  
  .card__counter i {
    color: #a2a2a3;
    font-size: 1.8rem;
  }